<!-- Stripe JS library -->
<script src="https://js.stripe.com/v3/"></script>

<script>
    async function startCheckout(button) {
        const response = await fetch('/create-checkout-session', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                name: button.getAttribute('data-item-name'),
                image: button.getAttribute('data-item-image'),
                price: button.getAttribute('data-item-price')
            })
        });

        const session = await response.json();

        if (session.id) {
            const stripe = Stripe('{{ site.stripe_publishable_key }}');
            stripe.redirectToCheckout({ sessionId: session.id });
        } else {
            console.error('Failed to create checkout session:', session.error);
        }
    }
</script>
<!-- End Stripe JS library -->