// _variables.scss
// Description: Global variables for the project

$font-family-base: 'Inconsolata', sans-serif;
$body-bg: #F4F3EE;
$primary: #000; // Example: Change Bootstrap primary color
$navbar-light-color: #000; // Ensures navbar links are black
$footer-bg: #F4F3EE; // Custom footer background
$brand-color: #000; // Custom brand color
