$brand-color: #ffffff;
$brand-color-2: #000000;
$default-hero-image: "/images/hero.jpg";

// Breakpoints
$mobile: "(max-width: 599px)";
$tablet: "(min-width: 600px) and (max-width: 1199px)";
$desktop: "(min-width: 1200px)";
