<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		{% include gtm-head.html %}

		{% include stripe-head.html %}

		{% seo %}

		<link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">
		<link href="{{ site.baseurl }}/rivolo_site-icon.png" rel="icon" type="image/png">

	</head>
	<body>
		
		{% include gtm-body.html %}
		
		<header>
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<a class="navbar-brand mx-auto" href="{{ site.baseurl }}/">
						{% include logo.html %}
					</a>
				</div>
			</nav>
		</header>

		{{ content }}
		
		<footer class="footer mt-auto py-3">
            <div class="container">
				<span class="mb-0">© 2025 rivolo-studios</span>
            </div>
        </footer>

		<script src="{{ site.baseurl }}/assets/js/application.js" type="text/javascript"></script>

	</body>
</html>
